---
import AuthorCard from "@/components/AuthorCard.astro";
import { siteConfig } from "@/config/site-config";
import Layout from "@/layouts/Layout.astro";
import { Image } from "astro:assets";
import { getCollection } from "astro:content";

const authors = await getCollection("author");
---

<Layout title="Autores">
	<section>
		<a class="a-author" onclick="history.back()">Volver</a>

		<h1 class="text-3xl font-semibold text-white capitalize lg:text-4xl">
			{siteConfig.title}
		</h1>
	</section>

	<section class="grid grid-cols-1 sm:grid-cols-2 gap-2">
		{authors.map((author) => <AuthorCard author={author} />)}
	</section>
</Layout>
